/* --------------------------------------------------
 00: Reset Style
 -------------------------------------------------- */

 html, body, div, span, object, iframe,
 h1, h2, h3, h3, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, menu, nav, section, summary,
 time, mark, audio, video {	
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	margin: 0;
 	outline: 0;
 	padding: 0;
 	vertical-align: baseline;
 }


/* --------------------------------------------------
 01: Basic Style
 -------------------------------------------------- */

 *,
 *:before,
 *:after {
 	box-sizing: border-box;
 }

 html{
 	font-size: 62.5%;
 }

 body {
 	background-color: #fffff;
 	color: #00000;
 	font-family: "helvetica", bold;
 	font-size: 1.6rem;
 	font-style: normal;
 	font-weight: 500;
 	letter-spacing: 0.075em;
 	line-height: 1;
 	-webkit-text-size-adjust: 100%;	
 }

 a{
 	font-size: 1.3rem;
 	font-weight: 90;
 	font-style: italic;
 	color: inherit;
 	text-decoration: none;
 }

 p{
 	font-size: 1.4rem;
 }

 ul{
 	list-style-type: none;
 }

 	
 h1{
 	font-size: 1.7rem;
 	font-family: "Times";
 	font-weight: 200;
 	color: #424242;

 }


h2{
 	font-size: 2rem;
 	font-weight: 100;
 	font-style: normal;
 }

h3{
 	font-size: 1.4rem;
 	font-weight: 90;
 	font-style: bolder;
 }

 h4{
	font-size: 1rem;
	font-family: "STIXGeneral";
	font-weight: 50;
 }

h5{
	font-family: "helvetica";
 	font-size: 1.6rem;
 	font-weight: 90;
 	font-style: bolder;
 }



@media only screen and (max-width: 768px) {

	 h1{
	 
	 }

}

img{
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}



/* --------------------------------------------------
 01: Wrapper Style
 -------------------------------------------------- */

.wrapper {
	/*background-color: lightblue;*/
	margin: 15rem 5rem 15rem 28rem;
}

	.wrapper > * {
		margin-bottom: 8rem;
	}

/* -------------------------------------------------- */
/* -------------------------------------------------- */

@media only screen and (max-width: 768px) {

	.wrapper {
		margin: 4rem 2rem 5rem 8rem;
	}

		.wrapper > * {
			margin-bottom: 4rem;
		}

}


/* --------------------------------------------------
 02: Header Style
 -------------------------------------------------- */

.header_inner {
	padding: 4rem 0 0 4rem;
	position: fixed;
	top: 0;
}


/* Menu 
-------------------------------------------------- */

.menu_inner {
	position: fixed;
	height: 100vh;
	top: 0;
	font-style: italic;
}

.menu{
  /*background: #000000;*/
  display: inline-flex;
  left: 4rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-47.75%) rotate(-90deg);
  transform: translateX(-47.75%) rotate(-90deg);
  z-index: 1000;
}

.menu li {
  /*background:#000000;*/
  color:#4d4d4d;
  font-size: 1.4rem;
  font-weight: lighter;
  line-height:2rem;
  padding: 0 4.5rem;
  text-align:center;
}

	.menu li:nth-child(2n){
		padding: 0;
	}

	.menu li:hover{
	color: #0000cc;
	text-decoration: none;
	}


/* -------------------------------------------------- */

@media only screen and (max-width: 768px) {

	.header_inner {
		padding: 3rem 0 0 2rem;
		position: relative;
	}


	/* Menu 
	-------------------------------------------------- */

	.menu{
	  left: 2rem;
	}

}


/* --------------------------------------------------
 03: Works Style
 -------------------------------------------------- */

.proj_thumb_container {
	/*background-color: blue;*/
	margin-left: auto;
	margin-right: 0;
	max-width: 60rem;
	height: auto;
}

	.proj_thumb_container:nth-child(2n) {
		margin-left: 0;
		margin-right: auto;
	}

.proj_thumb_img {
	position: relative;
}

.proj_thumb_bg {
	height: 100%;
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
	width: 100%;
	z-index: -1;
}

.proj_label p {
	font-style: italic;
	text-align: center;
}

 	.proj_label p.name {
 		margin-top: 2.5rem;
 	}

 	.proj_label p.date {
 		color: grey;
 		margin-top: 0.6rem;
 	}


/* -------------------------------------------------- */
/* -------------------------------------------------- */

@media only screen and (max-width: 768px) {

	.proj_thumb_bg {
		right: 1rem;
		top: 1rem;
	}

}



/* --------------------------------------------------
 04: Biography
 -------------------------------------------------- */


.bio {
	margin: 2rem auto;
	width: 50rem;
	font-style: italic;
}

.bio_img {
	display: inline-block;
	margin: 13rem 60rem 60rem;
	position: relative;
}

@media (max-width: 768px) {
  .bio_img {
    display: block;
    float: none;
    margin: auto auto;
  }
}




/* --------------------------------------------------
 05: Contact
 -------------------------------------------------- */

.contact {
	/*display: inline-block;*/
	margin: 25rem auto;
	width: 50rem;
}

.contact a:hover{
	color: #0000cc;
	text-decoration: none;
	}

.contact {
	font-style: italic;
}
